*.py[cod]

# C extensions
*.so

# Swig files
*.cxx
swig/snap.py

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#test/results*

swig-2.0.9/

test/*.eps
test/*.plt
test/*.tab
test/info
